/* Hover effect */
section {
    margin: 12px;
    padding: 12px;
    border: 1px solid black;
    background-color: AliceBlue;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

section:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    background-color: #8FCAFF;
}

/* Styling for the movie items */
.movie-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-start: 1;
    grid-column-end: 3;
}

.image-pic {
    justify-self: center;
}